body {
    color: hsl(200, 10%, 90%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(240, 13%, 20%);

}

h1 {
    font-size: 70px;
    margin-left: 450px;

}
#utbildning {
    background-color: hsl(200, 10%, 90%);
    color: hsl(240, 13%, 20%);
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-right: 250px;
}
